{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title %}Удалить{% endblock %}

{% block menu %}
    {% include 'manager/menu.html' %}
{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <p>Вы действительно хотите удалить "{{ object }}"?</p>
        <input class="btn btn-danger" type="submit" value="Да">
        <a href="{% url 'mg_rooms' %}" class="btn btn-secondary" type="submit" value="Unsaved">Отмена</a><br>
    </form>

{% endblock %}
