{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% load bootstrap4 %}
{% bootstrap_css %}
<!--{% bootstrap_javascript jquery="full" %}-->
<head>
  <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <style>
    body {
      background: #eaeaea;
    }
  </style>
</head>

<body>
    <div id="login">
        <p>Вы вышли из аккаунта</p>
        <a href="{% url 'login'%}" class="btn btn-secondary">Нажмите для повторной авторизации</a>
    </div>
</body>
</html>
